
{% extends 'layout.html' %}
{% block body %}
<h1 id="exists" style="
    position: fixed;
    top: 40%;
    left: 25%;
    font-size: 63px;
">
<p>
    <input placeholder="programme id" type="text" id="progname" onkeydown="if (event.keyCode == 13) document.getElementById('btnCheck').click()">
    <button id="btnCheck" onclick="handleForm()" type="button">check</button></br>
    <div id="amt" style="font-size: 130px;"></div>
</p>
</h1>

<script type=text/javascript>
function handleForm(){
    if (!window.jQuery){
        $(function() {
            $("#amt")[0].innerHTML="checking..."
            $.getJSON($SCRIPT_ROOT + '/api', {
                programme: $("#progname").val()
            }, function(data) {
                if (data.success) {
                    if (data.check) {
                        $('#amt')[0].innerHTML="YES!"
                    } else {
                        $('#amt')[0].innerHTML="NO!"
                    }
                } else {
                    $('#amt')[0].innerHTML="Failed!"
                }
            });
            return false;
        });
    } else {
        request = new XMLHttpRequest;
        programme = document.getElementById('progname').value
        request.open('GET', '/api/?programme='+programme, true);
        check = document.getElementById("amt");
        check.innerHTML="checking..."

        request.onload = function() {
          if (request.status >= 200 && request.status < 400){
            data = JSON.parse(request.responseText);
            if (data.success) {
                if (data.check) {
                    check.innerHTML="YES!"
                } else {
                    check.innerHTML="NO!"
                }
            } else {
                check.innerHTML="Failed!"
            }
          } else {
            console.log("request error");
          }
        };
        request.onerror = function() {
            console.log("connection error");
            check.innerHTML="Failed!"
        };
        request.send();
    }
}
</script>

{% endblock %}
